*{
    margin: 0;
    padding: 0;
}

.nav{
    background-color: #412567;
    padding: 30px 200px;
  
}
.gradient{
    background-image: linear-gradient(#f7e83fcf, #FB09B4, #9100F8);
     color: transparent;
    background-clip: text;
}
.gradient-button{
    background-image: linear-gradient(#f7e83f, #FB09B4, #9100F8);
     
}
.nav-class{
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
}
.nav-text{
    color: #FFFFFF;
    font-size: 2rem;

}
.nav-list{
    display: flex;
   gap: 32px;
   
   list-style-type: none;

}
.nav-list a{
    text-decoration: none;
    color: #FFFFFF;
    
}

.btn-primary{
    padding: 12px 30px;
    border-radius: 12px;
    color: #FFFFFF;
    
}
.hero-section {
  position: relative;
  width: 100%;
  height: 760px; 
  display: flex;
  justify-content: center; 
  /* overflow: hidden; */
  
}

 .hero-image{
  position: absolute;
  width: 100%;
  height: 760px;
  /* object-fit: cover; */
  z-index: 1;
}

.circle-image {
  position: absolute;
  width: 400px; 
  margin: 100px auto;
  z-index: 2; 
} 

 .mic-image {
  position: absolute;
  width: 150px; 
  margin: 170px auto ;
  z-index: 3; 
} 







