*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden; 
    width: 100%;
    font-size: 16px;
}


.nav{
    background-color: #412567;
    padding: 30px 200px;
  
}
.gradient{
    background-image: linear-gradient(#f7e83fcf, #FB09B4, #9100F8);
     color: transparent;
    background-clip: text;
}
.gradient-button{
    background-image: linear-gradient(#f7e83f, #FB09B4, #9100F8);
     
}
.nav-class{
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
}
.nav-text{
    color: #ffffff;
    font-size: 2rem;

}
.nav-list{
    display: flex;
   gap: 32px;
   
   list-style-type: none;

}
.nav-list a{
    text-decoration: none;
    color: #ffffffd7;
    
}

.btn-primary{
    padding: 12px 30px;
    border-radius: 12px;
    color: #FFFFFF;
    
}
.hero{
    background-color: #365245;
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    
}
.middle-img{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}
.circle-img{
    z-index: 1;
    position: relative;
    margin-top: 3rem;
    width: 22rem;
    /* margin-left: 6rem; */
    align-items: center;
   

}
.mic-img{
    z-index: 2;
    position: relative;
   margin-top: 8rem;
   margin-left: -15rem;
       
}

.hero-text{
    text-align: center;
    margin-top: 10rem;
}
.hero-text h1{
    color: #FFFFFF;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.hero-text p{
    color: #ffffffc6;
    margin-bottom: 1rem;
}
.button{
    gap: 1rem;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}
.spotify{
    padding: 1rem;
    border-radius: 1rem;
    
}
.message{
    color: #00FF88;
    border: 1px solid #00FF88;
    background: transparent;
    width: 7rem;
    border-radius: 2rem;

}

  

.banner-head{
    background-color: #1A0B2E;
    width: 100%;
    height:40rem;
    /* text-align: center; */
}


    
.banner h1{
    color: #FFFFFF;
    font-size: 4rem;
    padding-top: 2rem;
    text-align: center;
    margin-bottom: 1rem;

}

.banner p{
    color: #ffffffbd;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    margin: 0 auto;
    max-width: 75rem;
    padding: 1rem;
}

.banner-number{
    display: flex;
    margin: 0 auto;
    max-width: 75rem;
    justify-content: space-between;
    /* width: 80%; */
    
    margin-top: 10rem;
    
}
.banner-number h1{
    color: #00FF88;
   font-size: 4rem;
   margin-bottom: 1rem;
}
.banner-number p{
    color: #FFFFFF;
   
}


.card{
   background-color: #230E3D;
   height: 70rem;


}
.card-h1{
    color: #FFFFFF;
    margin-bottom: 4rem;
    padding: 5rem;
    font-size: 2rem;
    text-align: center;
}
.card-layout{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 75rem;
        margin:  0 auto;
       gap: 1.5rem;

}
.headphone{
    grid-column: span 1;
    grid-row: span 2;
     padding: 2rem 2rem;
     background-color: #351165;
     border-radius: 2rem;
     
}
.headphone h4{
    color: #FFFFFF;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.headphone p{
    color: #ffffffac;
}
.device{
     grid-column: span 2;
    grid-row: span 1;
      background-color: #351165;
     border-radius: 2rem;
      padding: 2rem 2rem;
}
.device h4{
    color: #FFFFFF;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.device p{
    color: #ffffffac;
}
.location{
    grid-column: span 2;
    grid-row: span 1;
      background-color: #351165;
     border-radius: 2rem;
      padding: 2rem 2rem;
}
.location h4{
    color: #FFFFFF;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.location p{
    color: #ffffffac;
}
.interview{
    grid-column: span 2;
    background-color: #351165;
     border-radius: 2rem;
      padding: 2rem 2rem;

}
.interview h4{
    color: #FFFFFF;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.interview p{
    color: #ffffffac;
}
.resource{
     grid-column: span 1;
     background-color: #351165;
     border-radius: 2rem;
      padding: 2rem 2rem;
}
.resource h4{
    color: #FFFFFF;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.resource p{
      color: #ffffffac;
      
}
.podcast{
    background-color: #1A0B2E;
    height: 85rem;
    
}
.podcast-title{
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
   padding: 6rem;

}
.youtube{
    display: flex;
    max-width: 75rem;
        margin: 0 auto;
        justify-content: center;
        /* border: 1px solid red; */
        gap: 2rem;
    
}
.video{
    height: 15rem;
    width: 25rem;
    
}
.video-1{
    width: 25rem ;
    height: 33rem;
    /* border: 1px solid red;  */
    background-color: #351165;
    border-radius: 2rem;
    /* max-width: 75rem;
        margin: auto; */
}
.video-1 h4{
    color: #ffffff;
    font-size: 2rem;
     margin-top: 5rem ;
     margin-left: 1rem;
}
.video-1 p{
    color: #ffffffa8;
     margin: 1rem;
}
.time{
    display: flex;
    align-items: center;
    /* text-align: center; */
    margin-left: 1rem;
}
.time img{
    width: 1rem;
    height: 1rem;

}
.time p{
    color: #00FF88;
}
.host h1{
    color: #FFFFFF;
    font-size: 3rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
    text-align: center;
}
.alex{
    /* border: 1px solid red; */
    max-width: 75rem;
        margin: 0 auto;
        background-color: #351165;
        border-radius: 2rem;
        /* display: flex; */
}
.alex-title{
    
    display: flex;
    padding: 1rem;   
}
.alex-info{
    margin-left: 2rem;
    text-align: start;
}

.alex-info h4{
    color: #FFFFFF;
    margin-bottom: 1rem;
    font-size: 2rem;

}
.alex-info p{
    color: #ffffff5b;
    margin-left: 1rem;
    width: 50rem ;
    margin-bottom: 1rem;
}
.icon{
   display: flex;
   gap: 1rem;
 
}
.instagram{
    border: 2px solid #533C72;
    padding: 1rem;
    border-radius: 4rem;
    
}
.footer-head{
    background-color: #f7e83f;
    background-image: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    width: 100%; 
  height: 30rem;
  background-size: cover;

}
.footer-head h2{

    font-size: 4rem;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10rem;
    background-size: cover;
    background-position: 10rem;
    
}
    


.footer-list{
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    

}
.image-icon {
 display: flex;
 gap: 1rem;
 
}
.image-icon a{
    text-decoration: none;
    color: #ffffffc5;
}
.copyright{
    text-align: center;
    color: #ffffffe4;
    margin-top: 1rem;
}




@media screen and (max-width: 576px) {
    
    .nav {
        padding: 10px;
    }
    .nav-list {
        display: none; 
    }
   .nav-class h2{
    text-align: center;

   }
   .hero {
        width: 100%;
        height: 30rem;
        background-size: cover;
        background-repeat: repeat();

    }
    .middle-img {
        padding-top: 2rem;
        position: relative;
        height: 250px; 
    }
    .circle-img {
        width: 7rem;
        margin-top: 6rem;
        margin-left: 1rem;

    }
    .mic-img {
        width: 2rem;
        margin-left: -4.5rem;
        margin-top: 8rem;
    }
    .hero-text {
        margin-top: 1rem;
        padding: 0 15px;
    }
    .hero-text h1 {
        font-size: 2.2rem;
    }
   
    .banner-head {
        height: auto;
        padding: 2rem 6px;
    }
    .banner h1 {
        font-size: 2rem;
    }
    .banner-number {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        text-align: center;
        margin-top: 5rem;
    }
    .banner-number h1 {
        font-size: 2.5rem;
    }

    
    .card {
        height: auto;
        padding-bottom: 50px;
    }
    .card-layout {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }
    .headphone, .device, .location, .interview, .resource {
        grid-column: span 1;
        grid-row: span 1;
    }
    .card-h1{
            font-size: 1.5rem;
    }

    .podcast {
        height: auto;
        padding-bottom: 50px;
    }
    .podcast-title{
        font-size: 1.5rem;
        
        

    }
    .youtube {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }
    .video-1 {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }
    .video {
        width: 100%;
        height: 200px;
    }

   
    .alex{
        width: 100%;
    }
    .alex-title {
        flex-direction: column;
        text-align: center;
    }
    .alex-info {
        margin-left: 0;
        margin-top: 1.5rem;
    }
    .alex-info p {
        width: 100%;
        margin-left: 0;
    }
    .icon {
        justify-content: center;
    }

   
    .footer-head {
        height: auto;
        padding: 40px 20px;
    }
    .footer-head h2 {
        padding-top: 2rem;
        font-size: 2.5rem;
    }
    .footer-list {
        flex-wrap: wrap;
        gap: 1rem;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
   
    .nav {
        padding: 25px 40px;
    }
    .nav-list {
        gap: 20px;
    }

    
    .hero {
        padding-bottom: 3rem;
    }
    .middle-img {
        padding-top: 3rem;

    }
    .circle-img {
        width: 12rem;
        margin-top: 10rem;
    }
    .mic-img {
        width: 4rem;
        margin-left: -8rem;
        margin-top: 13rem;
    }
    

    
    
    .banner-number {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 40px;
        text-align: center;
        margin-top: 5rem;
    }

   
    .card {
        height: auto;
        padding-bottom: 60px;
    }
    .card-layout {
        grid-template-columns: repeat(2, 1fr); 
        padding: 0 30px;
    }
    
    .headphone {
        grid-column: span 1;
    }
    .device, .location, .interview {
        grid-column: span 1;
    }
   

   
    .podcast {
        height: auto;
        padding-bottom: 60px;
    }
    .youtube {
        flex-wrap: wrap; 
        justify-content: center;
        gap: 20px;
    }
    .video-1 {
        width: 40%; 
        height: auto;
        padding-bottom: 1.5rem;
    }
    .video {
        width: 100%;
        height: 180px;
    }

  
    .alex {
        margin: 0 30px;
    }
    .alex-info p {
        width: 100%; 
    }

    
    .footer-head {
        height: auto;
        padding: 60px 30px;
    }
    .footer-head h2 {
        padding-top: 3rem;
        font-size: 3.5rem;
    }
}






