*{
    margin: 0;
    padding: 0;
}

.nav{
    background-color: #412567;
    padding: 30px 200px;
  
}
.gradient{
    background-image: linear-gradient(#f7e83fcf, #FB09B4, #9100F8);
     color: transparent;
    background-clip: text;
}
.gradient-button{
    background-image: linear-gradient(#f7e83f, #FB09B4, #9100F8);
     
}
.nav-class{
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
}
.nav-text{
    color: #FFFFFF;
    font-size: 2rem;

}
.nav-list{
    display: flex;
   gap: 32px;
   
   list-style-type: none;

}
.nav-list a{
    text-decoration: none;
    color: #FFFFFF;
    
}

.btn-primary{
    padding: 12px 30px;
    border-radius: 12px;
    color: #FFFFFF;
    
}
.container img {
    position: relative;
    width: 100%;
    height: 700px;
    
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* overflow: hidden; */
    /* color: white; */   
} 
.circle{
    position: absolute;
    display: flex;
    margin: 10px;
}

.banner-text{
    text-align: center;
    
}

.banner-head{
    color: #8a1919;
    font-size: 4rem;
    margin-bottom: 8px;
}
.banner-p{
    color: #8a1919;
    margin-bottom: 24px;
}
.btn-2{
    padding: 14px 20px;
    border-radius: 12px;
    color: #00FF88;
    background: transparent;
}


