*{
    margin: 0;
    padding: 0;
}



.nav{
    background-color: #412567;
    padding: 30px 200px;
  
}
.gradient{
    background-image: linear-gradient(#f7e83fcf, #FB09B4, #9100F8);
     color: transparent;
    background-clip: text;
}
.gradient-button{
    background-image: linear-gradient(#f7e83f, #FB09B4, #9100F8);
     
}
.nav-class{
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
}
.nav-text{
    color: #FFFFFF;
    font-size: 2rem;

}
.nav-list{
    display: flex;
   gap: 32px;
   
   list-style-type: none;

}
.nav-list a{
    text-decoration: none;
    color: #FFFFFF;
    
}

.btn-primary{
    padding: 12px 30px;
    border-radius: 12px;
    color: #FFFFFF;
    
}
.hero-section {
   position: relative; 
width: 100%; 
  height: 60rem; 
   /* display: flex; */
  justify-content: center;  
  /* overflow: hidden; */
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;


  
}

 /* .hero-image{
  position: absolute;
  width: 100%;
  height: 900px;
  z-index: 1;
} */

.circle-image {
  position: absolute;
  width: 28rem; 
  /* padding: 100px; */
  z-index: 2; 
  border: 1 px solid red;
  /* display: flex; */
  justify-content: center;
  margin-left: 49.5rem;
  margin-top: 8rem;
} 

 .mic-image {
  position: absolute;
  width: 10rem; 
  margin-left:58rem ;
  z-index: 3; 
  display: flex;
  margin-top: 15rem;
} 

.hero-text{
    position: absolute;
    margin-top: 40rem;
    text-align: center;
   margin-left: 49rem;
   
}
.hero-text h1{
    color: #FFFFFF;
    font-size: 4rem;
    margin-bottom: 1rem;

}
.hero-text p{
    color: #FFFFFF;
    margin-bottom: 1rem;
    font-weight: 100;
}
.hero-btn{
    display: flex;
    gap: 2rem;

}
.btn-spotify{
    pad: 2rem;
    width: 10rem;
    border-radius: 2rem;
    height: 4rem;


}

.btn-subscribe{
    border: 1px solid #00FF88;
    background: transparent;
    width: 10rem;
    padding: 1rem;
    border-radius: 2rem;
    height: 4rem;
}
.banner-head{
    background-color: #1A0B2E;
    width: 100%;
    height:40rem;
    /* text-align: center; */
}


    
.banner h1{
    color: #FFFFFF;
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;

}

.banner p{
    color: #FFFFFF;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    margin: auto;
    max-width: 75rem;
}
.banner-number{
    display: flex;
    margin: auto;
    max-width: 75rem;
    justify-content: space-between;
    /* width: 80%; */
    
    margin-top: 10rem;
    
}
.banner-number h1{
    color: #00FF88;
   font-size: 4rem;
   margin-bottom: 1rem;
}
.banner-number p{
    color: #FFFFFF;
   
}








