*{
    margin: 0;
    padding: 0;
}




.nav{
    background-color: #412567;
    padding: 30px 200px;
  
}
.gradient{
    background-image: linear-gradient(#f7e83fcf, #FB09B4, #9100F8);
     color: transparent;
    background-clip: text;
}
.gradient-button{
    background-image: linear-gradient(#f7e83f, #FB09B4, #9100F8);
     
}
.nav-class{
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
}
.nav-text{
    color: #ffffff;
    font-size: 2rem;

}
.nav-list{
    display: flex;
   gap: 32px;
   
   list-style-type: none;

}
.nav-list a{
    text-decoration: none;
    color: #ffffffd7;
    
}

.btn-primary{
    padding: 12px 30px;
    border-radius: 12px;
    color: #FFFFFF;
    
}
.hero-section {
   position: relative; 
width: 100%; 
  height: 60rem; 
   /* display: flex; */
  justify-content: center;  
  /* overflow: hidden; */
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;


  
}

 /* .hero-image{
  position: absolute;
  width: 100%;
  height: 900px;
  z-index: 1;
} */

.circle-image {
  position: absolute;
  width: 28rem; 
  /* padding: 100px; */
  z-index: 2; 
  border: 1 px solid red;
  /* display: flex; */
  justify-content: center;
  margin-left: 49.5rem;
  margin-top: 8rem;
} 

 .mic-image {
  position: absolute;
  width: 10rem; 
  margin-left:58rem ;
  z-index: 3; 
  display: flex;
  margin-top: 15rem;
} 

.hero-text{
    position: absolute;
    margin-top: 40rem;
    text-align: center;
   margin-left: 49rem;
   
}
.hero-text h1{
    color: #FFFFFF;
    font-size: 4rem;
    margin-bottom: 1rem;

}
.hero-text p{
    color: #FFFFFF;
    margin-bottom: 1rem;
    font-weight: 100;
}
.hero-btn{
    display: flex;
    gap: 2rem;

}
.btn-spotify{
    pad: 2rem;
    width: 10rem;
    border-radius: 2rem;
    height: 4rem;


}

.btn-subscribe{
    border: 1px solid #00FF88;
    background: transparent;
    width: 10rem;
    padding: 1rem;
    border-radius: 2rem;
    height: 4rem;
}
.banner-head{
    background-color: #1A0B2E;
    width: 100%;
    height:40rem;
    /* text-align: center; */
}


    
.banner h1{
    color: #FFFFFF;
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;

}

.banner p{
    color: #FFFFFF;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    margin: auto;
    max-width: 75rem;
}
.banner-number{
    display: flex;
    margin: auto;
    max-width: 75rem;
    justify-content: space-between;
    /* width: 80%; */
    
    margin-top: 10rem;
    
}
.banner-number h1{
    color: #00FF88;
   font-size: 4rem;
   margin-bottom: 1rem;
}
.banner-number p{
    color: #FFFFFF;
   
}


.card{
   background-color: #230E3D;
   height: 70rem;


}
.card-h1{
    color: #FFFFFF;
    margin-bottom: 4rem;
    padding: 5rem;
    font-size: 2rem;
    text-align: center;
}
.card-layout{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 75rem;
        margin: auto;
       gap: 1.5rem;

}
.headphone{
    grid-column: span 1;
    grid-row: span 2;
     padding: 2rem 2rem;
     background-color: #351165;
     border-radius: 2rem;
     
}
.headphone h4{
    color: #FFFFFF;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.headphone p{
    color: #ffffffac;
}
.device{
     grid-column: span 2;
    grid-row: span 1;
      background-color: #351165;
     border-radius: 2rem;
      padding: 2rem 2rem;
}
.device h4{
    color: #FFFFFF;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.device p{
    color: #ffffffac;
}
.location{
    grid-column: span 2;
    grid-row: span 1;
      background-color: #351165;
     border-radius: 2rem;
      padding: 2rem 2rem;
}
.location h4{
    color: #FFFFFF;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.location p{
    color: #ffffffac;
}
.interview{
    grid-column: span 2;
    background-color: #351165;
     border-radius: 2rem;
      padding: 2rem 2rem;

}
.interview h4{
    color: #FFFFFF;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.interview p{
    color: #ffffffac;
}
.resource{
     grid-column: span 1;
     background-color: #351165;
     border-radius: 2rem;
      padding: 2rem 2rem;
}
.resource h4{
    color: #FFFFFF;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.resource p{
      color: #ffffffac;
      
}
.podcast{
    background-color: #1A0B2E;
    height: 85rem;
    
}
.podcast-title{
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
   padding: 6rem;

}
.youtube{
    display: flex;
    max-width: 75rem;
        margin: auto;
        justify-content: center;
        /* border: 1px solid red; */
        gap: 2rem;
    
}
.video{
    height: 15rem;
    width: 25rem;
    
}
.video-1{
    width: 25rem ;
    height: 33rem;
    /* border: 1px solid red;  */
    background-color: #351165;
    border-radius: 2rem;
    /* max-width: 75rem;
        margin: auto; */
}
.video-1 h4{
    color: #ffffff;
    font-size: 2rem;
     margin-top: 5rem ;
     margin-left: 1rem;
}
.video-1 p{
    color: #ffffffa8;
     margin: 1rem;
}
.time{
    display: flex;
    align-items: center;
    /* text-align: center; */
    margin-left: 1rem;
}
.time img{
    width: 1rem;
    height: 1rem;

}
.time p{
    color: #00FF88;
}
.host h1{
    color: #FFFFFF;
    font-size: 3rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
    text-align: center;
}
.alex{
    /* border: 1px solid red; */
    max-width: 75rem;
        margin: auto;
        background-color: #351165;
        border-radius: 2rem;
        /* display: flex; */
}
.alex-title{
    
    display: flex;
    padding: 1rem;   
}
.alex-info{
    margin-left: 2rem;
    text-align: start;
}

.alex-info h4{
    color: #FFFFFF;
    margin-bottom: 1rem;
    font-size: 2rem;

}
.alex-info p{
    color: #ffffff5b;
    margin-left: 1rem;
    width: 50rem ;
    margin-bottom: 1rem;
}
.icon{
   display: flex;
   gap: 1rem;
 
}
.instagram{
    border: 2px solid #533C72;
    padding: 1rem;
    border-radius: 4rem;
    
}











